 .header{
    display:flex;
    justify-content: space-between;
    border:1px solid green;
    background-color: orange;
    
 }
 .logo{
    width:200px;
 }
 .nav-items>ul{
    display:flex;
    list-style-type:none;
 }
 .nav-items>ul>li{
    padding:10px;
    font-size: 24px;
    margin:10px;
 }
 .res-card {
  width: 220px; /* Slightly roomier */
  min-height: 300px; /* Ensures a baseline height */
  padding: 12px;
  margin: 8px;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
   
   
}

 .res-card:hover{
    border:1px solid green;
    cursor:pointer;
 }
 .Search{
    padding:10px;

 }
 .res-logo{
    width:100%;
    height:130px;
 }
 .res-container{
   display:flex;
   flex-wrap: wrap;
   gap:16px;
 }
 .filter-btn{
   margin:10px;
   cursor:pointer;
 }